version: "3"
services:
  nginx:
     image: nginx:latest
     restart: always
     container_name: php-nginx
     volumes:
      - ./api:/api
      #- ./nginx/cert/1_tencent.tyrantqiao.com_bundle.crt:/etc/nginx/1_tencent.tyrantqiao.com_bundle.crt
      #- ./nginx/cert/2_tencent.tyrantqiao.com.key:/etc/nginx/2_tencent.tyrantqiao.com.key
      - ./nginx/cert:/etc/nginx/cert
      - ./nginx/conf.d:/etc/nginx/conf.d/
      - ./nginx/log:/var/log/nginx
     ports:
      - "9980:443"
        # - "443:443"
     environment:
       TZ: 'Asia/Shanghai'
     depends_on:
      - php
     networks:
      docker_composer_net:
       aliases:
         - nginx
  php:
    image: php:7.2-fpm
    restart: always
    ports:
      - "9000:9000"
    container_name: php
    volumes:
      - ./api:/api
    networks:
     docker_composer_net:
        aliases:
          - php
networks:
  docker_composer_net:
